:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-black: #111111;
    --gray-light: #f8f9fa;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.bg-black {
    background-color: var(--accent-black) !important;
}

.navbar-brand {
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
}